In [1]:
import pandas
from datetime import datetime
from pytz import utc

In [2]:
data = pandas.read_csv("../data/reviews.csv", parse_dates = ['Timestamp'])
data[data['Timestamp']> datetime(2020, 7, 1, tzinfo=utc)]

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
9729,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:44+00:00,3.5,NaN
9730,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:12+00:00,5.0,NaN
9731,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:40:58+00:00,4.0,NaN
9732,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:04:02+00:00,5.0,nice
9733,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 00:01:34+00:00,2.0,Hard to follow if u have no experience program...

## 1. Average Rating

In [3]:
data['Rating'].mean()

4.442155555555556

## 2. Average Rating of Particular Course

In [6]:
data[data['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications']['Rating'].mean()

4.477270180942244

## 3. Average Rating for a particular period

In [7]:
# For entire year 2020
data[(data['Timestamp'] >= datetime(2020, 1,1 , tzinfo=utc)) & 
     (data['Timestamp'] <= datetime(2020, 12 ,31 , tzinfo=utc))]

,Course Name,Timestamp,Rating,Comment
3065,Interactive Data Visualization with Python and...,2020-12-30 23:28:34+00:00,3.0,NaN
3066,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:59:02+00:00,4.0,NaN
3067,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:40:10+00:00,4.5,NaN
3068,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:56:41+00:00,4.5,NaN
3069,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:14:34+00:00,4.5,NaN
...,...,...,...,...
19621,The Python Mega Course: Build 10 Real World Ap...,2020-01-01 08:15:48+00:00,5.0,NaN
19622,The Python Mega Course: Build 10 Real World Ap...,2020-01-01 06:24:54+00:00,5.0,Clearly stated and simple
19623,Python for Beginners with Examples,2020-01-01 02:15:47+00:00,5.0,NaN
19624,The Python Mega Course: Build 10 Real World Ap...,2020-01-01 01:10:35+00:00,4.5,NaN
19625,The Python Mega Course: Build 10 Real World Ap...,2020-01-01 00:04:11+00:00,4.0,NaN

In [8]:
d = data[(data['Timestamp'] >= datetime(2020, 1,1 , tzinfo=utc)) & 
     (data['Timestamp'] <= datetime(2020, 12 ,31 , tzinfo=utc))]
d['Rating'].mean()

4.476541271662339

## 4. Average Rating for a particular course in a particular period

In [9]:
d = data[(data['Timestamp'] >= datetime(2020, 1,1 , tzinfo=utc)) & 
     (data['Timestamp'] <= datetime(2020, 12 ,31 , tzinfo=utc)) &
     (data['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications')]
d['Rating'].mean()

4.506076089208037

## 5. Average of uncommented Ratings

In [14]:
d = data[(data['Comment'].isnull())]
d['Rating'].mean()

4.433679746603492

## 6. Average of commented Ratings

In [15]:
d = data[(data['Comment'].notnull())]
d['Rating'].mean()

4.489777908515959

## 7. Number of Uncommented Ratings

In [16]:
d = data[(data['Comment'].isnull())]
d['Rating'].count()

38201

## 8. Number of Commented Ratings

In [17]:
d = data[(data['Comment'].notnull())]
d['Rating'].count()

6799

## 9. Number of comments containing a certain word

In [21]:
d = data[(data['Comment'].notnull()) &
        (data['Comment'].str.contains('accent'))]

In [26]:
d = data[(data['Comment'].str.contains('accent', na=False))]
d['Rating'].count()

77

## 10. Average of commented ratings with "accent" in comment

In [27]:
d = data[(data['Comment'].str.contains('accent', na=False))]
d['Rating'].mean()

3.8636363636363638